/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/font-awesome/css/font-awesome.css";
@import '../node_modules/toastr-ng2/toastr.css';
@import '../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';
/*@import 'https://fonts.googleapis.com/css?family=Material+Icons';*/
/*@import 'https://fonts.googleapis.com/css?family=Roboto:400,300';*/
@import 'assets/theme-fresh.css';

html, body {
    display: flex;
    flex-direction: column;
    /*font-family: Roboto, Arial, sans-serif;*/
    margin: 0;
    height: 100%;
}

#myHourGlass {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color:grey;
    opacity: .5;
}

.mySpinner {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size:48px;
    /*position: absolute;*/
    /*left: 10%;*/
    /*top: 10%;*/
    /*margin-left: -32px;*/
    /*-1 *image width / 2 margin-top : - 32 px;*/
    /*-1 *image height / 2 display : block;*/
}

/*.ng-valid[required], .ng-valid.required {*/
    /*border-left: 5px;*/
/*}*/

/*Angular 2 input elements*/
.ng-invalid:not(form) {
    border-left: 5px solid#a94442; /* red */
}

/*body{
    font-size: 14px;
}*/

.fdocnumber {
    font-weight: bold;
    font-size: 24px
}

.amount {
    background-color: #000 !important;
    color: #00fd01 !important;
    font-weight: bold;
    font-size: 24px;
}

/*Fixes IE not centering*/
/*.widget-center-center {*/
    /*position: absolute;*/
    /*top:50%;*/
    /*left: 50%;*/
    /*transform:translate(-50%,-50%);*/
/*}*/

/*.widget-md-radio-button {*/
    /*!*box-sizing: border-box;*!*/
    /*!*display: block;*!*/
    /*margin: 0 5px 0 5px;*/
    /*!*white-space: nowrap;*!*/
    /*!*cursor: pointer;*!*/
/*}*/

/* Reduce Button Height */
/*.widget-button {*/
    /*line-height: 1.3rem !important;*/
    /*height: 1.5rem !important;*/
    /*min-height: 20px !important;*/
/*}*/

/*.widget-button-tab {*/
    /*!*background-color: #FFDE79 !important;*!*/
    /*background-color: #f3d38f !important;*/
    /*border-radius: 10px 10px 0 0;*/
    /*margin-left: -5px;*/
/*}*/

/*.widget-button-tab-active {*/
    /*background-color: rgb(217, 217, 217) !important;*/
    /*color: black !important;*/
/*}*/

/*All Buttons Mouse Over*/
/*.md-button:not([disabled]):hover {*/
    /*background-color: rgba(107, 103, 91, 0.96) !important;*/
    /*color: white;*/
/*}*/

/*.widget-error {*/
    /*color: #f00;*/
/*}*/

/*.widget-field-warn { background-color: #f34336; color: white; font-weight: bold}*/

/*.m-disable {*/
    /*color:rgba(0,0,0,0.54);*/
/*}*/

/*.green-color {*/
    /*background-color: #4cae50 !important;*/
/*}*/

/*!* Save Button on tab *!*/
/*.save-color {*/
    /*background-color: #008eec !important;*/
    /*color: white !important;*/
/*}*/

/*.right-text {*/
    /*text-align: right;*/
/*}*/

/*.bold-text {*/
    /*font-weight: bold;*/
/*}*/

/*-------------------------------------*/
/* widget-grid
/*-------------------------------------*/
/*.widget-grid.widget-grid header, .widget-toolbar {*/
    /*color: #fff;*/
    /*background-color: #008eec;*/
    /*!*background-color: #3f51b4;*!*/
    /*font-weight: bold;*/
    /*padding: 0 10px 0 10px;*/
/*}*/

/*.widget-grid > header > div {*/
    /*min-height: 29px;*/
/*}*/

/*.widget-toolbar {*/
    /*padding: 0;*/
/*}*/

/*ng2*/
.widget-grid.widget-grid nav {
    /*background-color: #d7e3f1;*/
    padding-left: 10px;
    height: 50px;
}

.subnavbar {
    background-color: #e3f2fd!important;
    color: black;
    /*color: rgba(0,0,0,.9)!important;*/
    /*padding-left: 10px;*/
    /*align-items: center;*/
    /*position: relative;*/
    height: 50px;
}

.lmargin {
    margin-left: 10px;
}
.rmargin {
    margin-right: 10px;
}

/*.widget-grid.widget-grid-alternate header {*/
    /*background-color: #93959e;*/
/*}*/

/*.widget-grid.widget-grid-edit header {*/
    /*background-color: #64ad6e;*/
    /*!*background-color: #4CAF50;*!*/
/*}*/

/*.widget-grid.widget-grid-tab header {*/
    /*background-color: #0D47A1;*/
/*}*/


/*-------------------------------------*/
/* widget-table
/*-------------------------------------*/
/*.widget-table.widget-table header {*/
    /*background-color: #93959e;*/
/*}*/
/*.widget-table.widget-table .pricing-price {*/
    /*background-color: #A0A2AA;*/
/*}*/

/*.widget-table.widget-table-primary header {*/
    /*background-color: #008eec;*/
    /*!*background-color: #3849a2;*!*/
/*}*/
/*.widget-table.widget-table-primary .pricing-price {*/
    /*background-color: #3F51B5;*/
/*}*/

/*.widget-table.widget-table-success header {*/
    /*background-color: #449D48;*/
/*}*/
/*.widget-table.widget-table-success .pricing-price {*/
    /*background-color: #4CAF50;*/
/*}*/

/*.widget-table.widget-table-warning header {*/
    /*background-color: #ecb100;*/
/*}*/
/*.widget-table.widget-table-warning .pricing-price {*/
    /*background-color: #FFC107;*/
/*}*/

/*.widget-table.widget-table-danger header {*/
    /*background-color: #f32c1e;*/
/*}*/
/*.widget-table.widget-table-danger .pricing-price {*/
    /*background-color: #F44336;*/
/*}*/

/*.widget-table.widget-table-info header {*/
    /*background-color: #00a5bb;*/
/*}*/
/*.widget-table.widget-table-info .pricing-price {*/
    /*background-color: #00BCD4;*/
/*}*/

/*.widget-table.widget-table-other header {*/
    /*background-color: #564aa3;*/
/*}*/
/*.widget-table.widget-table-other .pricing-price {*/
    /*background-color: #7266ba;*/
/*}*/

form {
    margin: 5px 0 5px 5px;
}

.panel, .panel-nobox {
    background-color: #fff;
    margin: 5px 5px 0px 5px;
}

/*.panel {*/
    /*!*margin: 0px 0px 0px 0px;*!*/
    /*-webkit-transition: .25s ease-out;*/
    /*-moz-transition: .25s ease-out;*/
    /*transition: .25s ease-out;*/
    /*!*box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);*!*/
    /*position: relative;*/
    /*border: 1px solid #e7e7e7;*/
    /*padding: 10px;*/
/*}*/

.panel-nobox {
    /*margin: 5px 10px 0px 10px;*/
    -webkit-transition: .25s ease-out;
    -moz-transition: .25s ease-out;
    transition: .25s ease-out;
    position: relative;
}

/*.panel-form {*/
    /*margin: 0px 5px 0px 5px;*/
/*}*/

/*.panel-form form{*/
    /*-webkit-transition: .25s ease-out;*/
    /*-moz-transition: .25s ease-out;*/
    /*transition: .25s ease-out;*/
    /*position: relative;*/
    /*border: 1px solid #e7e7e7;*/
    /*padding: 10px;*/
/*}*/

/*.widget-table {*/
    /*!*margin-bottom: 5px;*!*/
    /*margin: 5px;*/
    /*background-color: #fcfcfc;*/
    /*color: #999;*/
    /*text-align: center;*/
    /*-webkit-transition: .25s ease-out;*/
    /*-moz-transition: .25s ease-out;*/
    /*transition: .25s ease-out;*/
    /*box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);*/
    /*position: relative;*/
/*}*/

/*.widget-table header {*/
    /*text-align: center;*/
    /*padding: 8px 8px;*/
/*}*/

/*.widget-table header h2 {*/
    /*margin: 0;*/
    /*font-size: 16px;*/
    /*font-weight: 400;*/
    /*text-transform: uppercase;*/
    /*color: #fff;*/
/*}*/

/*.widget-table .pricing-price {*/
    /*border-bottom: 1px solid #e7edf6;*/
    /*padding: 20px 15px;*/
    /*background-color: #A0A2AA;*/
    /*font-size: 36px;*/
    /*line-height: 1;*/
    /*color: #fff;*/
    /*font-weight: 300;*/
/*}*/

/*.widget-table .pricing-price .pricing-sign {*/
    /*margin-right: 5px;*/
    /*font-size: 24px;*/
    /*font-weight: 400;*/
/*}*/

/* Hide Inpu Upload */
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

