<div class="container-fluid main">
  <div class="col">
    <div class="main-content main-box">
      <div class="form-header bg-primary text-white">
        <h1 class="text-center ">{{sharedSrvc.companyName}}</h1>
      </div>

      <form class="form-signin" (ngSubmit)="onSubmit()">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-user"></i></span>
          <input type="text" class="form-control" placeholder="User ID" [(ngModel)]="userid" [ngModelOptions]="{standalone: true}" required autofocus>
        </div>
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-lock"></i></span>
          <input type="password" class="form-control" placeholder="Password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" required>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
      </form>
    </div>
  </div>
</div>

<!--<div class="container vertical-align" style="background-color: #eee;">
  <div class="row centerbox" style="background-color:cadetblue">Container</div>
</div>-->